{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest/globals": true,
    "node": true
  },
  "rules": {
    "strict": 0,
    "no-console": "warn",
    "react/prop-types": "warn",
    "no-unused-vars": "warn"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": ["jsx-a11y", "jest"],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
