$underline: 2px solid $high-fodmap-color;

.nav {
    color: $high-fodmap-color;
    display: flex;
    list-style-type: none;
    margin: 20px auto 0;
    max-width: 800px;
    padding: 0;

    li {
        flex: 4;
        text-align: center;

        &.small {
            display: block;
            flex: 1;
            padding: 5px 0;
        }
    }

    a {
        border-bottom: 2px solid $white;
        display: block;
        padding: 5px;
        text-decoration: none;
        transition: border 400ms ease-out;

        &:link,
        &:visited {
            color: $high-fodmap-color;
        }

        &:hover, &.selected {
            border-bottom: $underline;
        }

        &.selected {
            pointer-events: none;
            border-bottom: $underline;
        }
    }
}
