// Adapted from https://codepen.io/nikhil/pen/GuAho

$input-height: 40px;

.search-wrapper {
    @include placeholder {
        color: $dark-gray;
        font-style: italic;
        font-weight: normal;
    }

    margin: 0 auto 50px;
    padding: 15px;
    width: 450px;

    input {
        background: $light-gray;
        border: 0;
        border-radius: 3px 0 0 3px;
        box-sizing: border-box;
        float: left;
        height: $input-height;
        padding: 10px 5px;
        width: 330px;

        &:focus {
            background: $white;
            border: 1px solid $dark-gray;
            border-right-style: none;
            outline: 0;
        }
    }

    button {
        background: $low-fodmap-color;
        border: 0;
        border-radius: 0 3px 3px 0;
        color: $white;
        cursor: pointer;
        height: $input-height;
        overflow: visible;
        padding: 0;
        position: relative;
        text-transform: uppercase;
        width: 110px;

        &::before {
            border-color: transparent $low-fodmap-color;
            border-style: solid solid solid none;
            border-width: 8px 8px 8px 0;
            content: '';
            left: -6px;
            position: absolute;
            top: 12px;

        }

        &::after {
            content: 'Search';
        }

        &:hover {
            background: $high-fodmap-color;

            &::before { border-right-color: $high-fodmap-color; }
        }
    }
}

@media #{$small-media-query} {
    .search-wrapper {
        width: 320px;

        input { width: 260px; }

        button {
            width: 50px;
            &::after { content: '\25B6'; }
        }
    }
}
