$white: #fff;
$black: #000;
$background: #f9f9f9;
$question-background: #faf9f7;
$question-border: #e5e4e1;
$text-shadow: rgba(0, 0, 0, .2);

$category-color: rgba(0, 0, 0, .2);
$low-fodmap-color: #a5c3a8;
$moderate-fodmap-color: #fec095;
$high-fodmap-color: #f28f81;
$food-item-color: rgba(0, 0, 0, .8);
$text-color: rgba(0, 0, 0, .9);
$link-color: rgba(0, 0, 0, .7);
